<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{css/home.css}">
  <title>channels</title>
  <style>
    .red{
      color: red;
    }
    .invalid{
      border:2px solid red;
    }
  </style>
</head>
<body>
  <div class="create">
    <form method="post" th:action="@{/create}" th:object="${channel}">
      <input type="text" th:field="*{name}" th:errorclass="invalid">
          <p th:text="${channel.name}"></p>
          <div class="red" th:errors="*{name}"></div>
      <button type="submit">登録</button>
    </form>
  </div>
  <h2>リスト</h2>
  <div th:each="channel : ${channels}">
    <p th:text="${channel.name}"></p>
    <p><a th:href="@{/edit/{id}(id=${channel.id})}">編集</a></p>
    <p><a th:href="@{/delete/{id}(id=${channel.id})}">削除</a></p>
  </div>
</body>
</html>